{% extends 'base.html' %}

{% block conteudo %}

	<body>

    
		<div id="dois"> 
			
			
			<div id="cao" align="left">
		         
				 <nav class="navbar navbar-light" style="background-color:#800000;">
				  <!-- Navbar content -->
					<ul class="nav justify-content-end">
					</br>
						<li class="nav-item"> <a class="nav-link" href="home.html"> HOME </a></li>
						<li class="nav-item"> <a class="nav-link" href="sobre.html"> SOBRE </a></li>
						<li class="nav-item"> <a class="nav-link" href="adocoes.html"> ADOÇÃO </a></li>
						<li class="nav-item"> <a class="nav-link" href="doacoes.html"> DOAÇÕES</a></li>
						<li class="nav-item"> <a class="nav-link" href="login.html"> LOGIN </a></li>
						<li class="nav-item"> <a class="nav-link" href="cadastra-se.html"> CADASTRA-SE </a></li><p><p><p>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
					
					</ul>
					</br></br></br></br>
				</nav>	
			</div>	
		</div>	
	
			<div class="container" >
				<a class="links" id="paracadastro"></a>
			
			 
						<div class="content">      
						  <!--FORMULÁRIO DE LOGIN-->
						  <!--FORMULÁRIO DE LOGIN-->
						  <div id="login">
							<form align="center" style="font-size:30px; " method="post" action=""> 
							  <h1 align="center" style="font-size:60px;" >Login </h1> 
							  <p> 
								<label for="nome_login">Seu nome</label>
								<input id="nome_login" name="nome_login" required="required" type="text" placeholder="ex. contato@htmlecsspro.com"/>
							  </p>
							   
							  <p> 
								<label for="email_login">Seu e-mail</label>
								<input id="email_login" name="email_login" required="required" type="password" placeholder="ex. senha" /> 
							  </p>
							   
							  <p> 
								<input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
								<label for="manterlogado">Manter-me logado</label>
							  </p>
							   
							  <p> 
								<input type="submit" value="Logar" /> 
							  </p>
							   
							  <p class="link">
								Ainda não tem conta?
								<a href="cadastra-se.html">Cadastre-se</a>
							  </p>
							</form>
							</div>
						</div>
			</div>		
			</br></br></br></br></br>
				<!-- Footer -->   
		
</body>