{% extends 'base.html' %}

{% block conteudo %}
	<body>
		
    
		<div id="dois"> 
			
			
			<div id="cao" align="left">
		         
				 <nav class="navbar navbar-light" style="background-color:#800000;">
				  <!-- Navbar content -->
					<ul class="nav justify-content-end">
					</br>
						<li class="nav-item"> <a class="nav-link" href="home.html"> HOME </a></li>
						<li class="nav-item"> <a class="nav-link" href="sobre.html"> SOBRE </a></li>
						<li class="nav-item"> <a class="nav-link" href="adocoes.html"> ADOÇÃO </a></li>
						<li class="nav-item"> <a class="nav-link" href="doacoes.html"> DOAÇÕES</a></li>
						<li class="nav-item"> <a class="nav-link" href="login.html"> LOGIN </a></li>
						<li class="nav-item"> <a class="nav-link" href="cadastra-se.html"> CADASTRA-SE </a></li><p><p><p>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
					
					</ul>
			</div>
			
			<div id="">
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
			</div>
			
			<!-- Footer -->   
		
	</body>
  