{% extends 'base.html' %}

{% block conteudo %}

	<body>
		
    
		<div id="dois"> 
			
			
			<div id="cao" align="left">
		         
				 <nav class="navbar navbar-light" style="background-color:#800000;">
				  <!-- Navbar content -->
					<ul class="nav justify-content-end">
					</br>
						<li class="nav-item"> <a class="nav-link" href="home.html"> HOME </a></li>
						<li class="nav-item"> <a class="nav-link" href="sobre.html"> SOBRE </a></li>
						<li class="nav-item"> <a class="nav-link" href="adocoes.html"> ADOÇÃO </a></li>
						<li class="nav-item"> <a class="nav-link" href="doacoes.html"> DOAÇÕES</a></li>
						<li class="nav-item"> <a class="nav-link" href="login.html"> LOGIN </a></li>
						<li class="nav-item"> <a class="nav-link" href="cadastra-se.html"> CADASTRA-SE </a></li><p><p><p>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
					
					</ul>
					</br></br></br></br>
				</nav>
					<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					  <div class="carousel-inner">
						<div class="carousel-item active">
							<img src="./imagens/doador.jpg" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
						  <img src="./imagens/doacao.jpg" class="d-block w-100" alt="...">
						</div>
						<div class="carousel-item">
						  <img src="./imagens/images.png" class="d-block w-100" alt="..." width="705" height="405"  >
						</div>
					  </div>
					</div>
			
			
		</div>
		<div id="cachorro">
		<table>
		</br></br></br></br>
		<h5>Oii,tudo bem ?</br>Se voce está nessa pagina é por que provavelmente gosta de cães e gatos ou porque sabe que dos seres inocentes e doceis que eles podem ser quando bem cuidados.<p> Se voce entende isso e assim como nós quer ajuda-los a sobreviver bem nesse mundo tão cruel, adote um amigo, ou nos faça uma doação para que tenhamos o seu apoio em ajuda-los.</p>
		<p>Agora se voce entrou aqui por engano, e não gosta nem um pouco dessas criaturas, tudo bem! Mas pense bem em quais motivos voce tem para não amar essas criaturinhas mais senciveis e amaceis desse mundo? Eu te garanto que eles são muito mais fiéis e amaveis que qualquer ser humano. Mesmo que voce não goste deles em sua casas, poderia nos ajudar com doação.</p></h5>
        </table>
		</br></br></br>
		</div>
			<div id="adotar">
				<h2>POR QUE ADOTAR?</h2>
					<div class="card-deck">
						  <div class="card">
							<img class="card-img-top" src="./imagens/dog.jpg" alt="Card image cap">
							<div class="card-body">
							  <h5 class="card-title"></h5>
							  <p class="card-text">Adotar um animal é um envolto de imprevisibilidade, nunca se sabe o que esperar, e essa é a melhor parte para quem gosta de novas experiências. O melhor disso tudo é que a maioria das surpresas são positivas. Os cães se mostram muito amáveis, mesmo que no início possam demonstrar alguns problemas decorrentes das dificuldades que já passaram, quando você conquista a confiança desses animais, ganha uma companhia fiel.</p>
							</div>
							<div class="card-footer">
							  <small class="text-muted">Atualização feita no dia 16 de Abril</small>
							</div>
						  </div>
						  <div class="card">
							<img class="card-img-top" src="./imagens/adotar.jpg" alt="Card image cap">
							<div class="card-body">
							  <h5 class="card-title"></h5>
							  <p class="card-text">Adotar um animal é valorizar a vida. Um cão ou gato é capaz de sentir emoções – como dor e alegria/excitação – e por isso, sofre tanto quanto nós, humanos. É recuperar uma vida literalmente jogada fora. Ao adotar um animal carente, você ensina ao seu filho, às crianças com quem você convive, verdadeiros valores de responsabilidade, comprometimento e, sobretudo, humanidade.
							  </p>
							</div>
							<div class="card-footer">
							  <small class="text-muted">Atualização feita no dia 16 de Abril</small>
							</div>
						  </div>
						  <div class="card">
							<img class="card-img-top" src="./imagens/cachorro.jpg" alt="Card image cap">
							<div class="card-body">
							  <h5 class="card-title"></h5>
							  <p class="card-text">Um bichinho pode mudar muito a forma como vemos as coisas. Um gatinho ou cãozinho tem o poder de encher nossa vida de amor e alegria e, por isso, você merece um peludinho correndo e latindo/miando pela casa, definitivamente! </p>
							</div>
							<div class="card-footer">
							  <small class="text-muted">Atualização feita no dia 16 de Abril</small>
							</div>
						  </div>
						</div>
					</div>
		
		     <!-- Footer -->   
	
			
	</body>