<html>
	<head>
		<meta charset="UTF-8"/>
        <title> Abrigo de cães </title>
		
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='_CSS/main.css') }}">
		<link rel="shortcut icon" type="image/x-icon" href="./imagens/logandosite.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	

	</head>
    <body style="background-color:#E0FFFF;">
			<div id="dois"> 
			
			
					<div id="cao" align="right">
						 
						 <nav class="navbar navbar-light" style="background-color:#FFDAB9; color=#0000">
						  <!-- Navbar content -->
							<ul class="nav justify-content-end" >
							</br>
								<li class="nav-item" > <a class="nav-link" href="/home"> HOME </a></li>
								<li class="nav-item" > <a class="nav-link" href="/adocoes"> ADOÇÃO </a></li>
								<li class="nav-item" > <a class="nav-link" href="/login"> LOGIN </a></li>
								<li class="nav-item" > <a class="nav-link" href="/cadastrar"> CADASTRAR </a></li><p><p><p>
							
							
							</ul>
					</div>
			</div>		
    {% block conteudo %}
	{% endblock conteudo %}
	
	 {% block login %}
	 {% endblock login %}

	 {% block adocoes %}
	 {% endblock adocoes%}

	 {% block cadastrar %}
	 {% endblock cadastrar %}

	 <div id="rodape">
			<footer><br/>
				<div align="center">
					<img src="{{url_for('static', filename='imagens/redesocial.png')}}">
					<br/><br/>
				</div>
					<div align="center">
						Quer fazer parte desse movimento?Não tem uma conta ainda?<a href="{{url_for('static', filename='/cadastrar')}}">Cadastre-se</a> ou <a href="{{url_for('static', filename='/login')}}">Entre</a>
					</div>
						<h6 align="center">©2019-2019</h>
			</footer>
		</div>
		
						
	</body>
    </html>