{% extends 'base.html' %}

{% block conteudo %}


			<div class="cadastro" >
			</div>
				<br/>
				<br/>
					<div id = "borda" style="margin: auto; width: 65%; border: 1px solid #000;">
					<h2 align= "center"> CADASTRA-SE<h2>
						
					<form name = "form"  method = "post" action = "login.html" onsubmit=" return validar();" aligin="center">
						{{formulario.username.label}}
						{{formulario.username}}<bt/>
						{{formulario.datadenascimento.label}}
						{{formulario.datadenascimento}}<br/>
						{{formulario.email.label}}
						{{formulario.email}}<br/>
						{{formulario.repitaemail.label}}
						{{formulario.repitaemail}}<br/>
						{{formulario.senha.label}}
						{{formulario.senha}}<br/>
						{{formulario.repitasenha.label}}
						{{formulario.repitasenha}}<br/>
						
							  <p> 
								<input type="submit" name="submit" value="Cadastrar" onclick="cadastrar"> 
							  </p>
							   
							 
							</form>
							
						  </div>
						  <br/>

						  <br/>
						  <div id="borda4" aligin="center">
							  <p align="center"> Já tem conta? <a href="/login"> Faça seu Login </a> </p>

			</br></br></br>
			{% endblock conteudo %}
			 
		 

