{% extends 'base.html' %}

{% block conteudo %}

	<body>

    
		
		</div>	
	
		<div class="login" >
		</div>
			<br/>
			<br/>
				<div id = "borda" align = "center" style="margin: auto; width: 40%; border: 1px solid #000;">
				<h2> Login <h2>
					
				<form name = "form"  method = "post" action = "cadastrar.html" onsubmit=" return validar();" aligin="center">
					{{formulario.email.label}}
					{{formulario.email}}<bt/>
					{{formulario.senha.label}}
					{{formulario.senha}}<br/>
					
					
						  <p> 
							<input type="submit" name="submit" value="Cadastrar" onclick="Logar"> 
						  </p>
						   
						  
						</form>
						
					  </div>
					  <br/>

					  <br/>
					  <div id="borda4" aligin="center">
						  <p align="center"> Ainda não tem conta? <a href="/cadastrar"> Cadastra-se</a> </p>

		</br></br></br>
		{% endblock conteudo %}