{% extends 'base.html' %}

{% block conteudo %}

	<body>

    
		
		</div>	
	
			<div class="container" >
				<a class="links" id="paracadastro"></a>
			
			 
						<div class="content">      
						  <!--FORMULÁRIO DE LOGIN-->
						  <!--FORMULÁRIO DE LOGIN-->
						  <div id="login">
							<form align="center" style="font-size:30px; " method="post" action=""> 
							  <h1 align="center" style="font-size:60px;" >Login </h1> 
							  <p> 
								<label for="nome_login">Seu nome</label>
								<input id="nome_login" name="nome_login" required="required" type="text" placeholder="ex. contato@htmlecsspro.com"/>
							  </p>
							   
							  <p> 
								<label for="email_login">Seu e-mail</label>
								<input id="email_login" name="email_login" required="required" type="password" placeholder="ex. senha" /> 
							  </p>
							   
							  <p> 
								<input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
								<label for="manterlogado">Manter-me logado</label>
							  </p>
							   
							  <p> 
								<input type="submit" value="Logar" /> 
							  </p>
							   
							  <p class="link">
								Ainda não tem conta?
								<a href="cadastrar.html">Cadastre-se</a>
							  </p>
							</form>
							</div>
						</div>
			</div>		
			</br></br></br></br></br>
				<!-- Footer -->   
	{%endblock%}	
</body>